// 横排居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 纵排居中
.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}